#content {
  margin: 40px 50px;
}

#note .input-group {
  margin-bottom: 20px;
}

#note .input-group #title {
  width: calc(100% - 175px);
  display: inline;
}

#note  .input-group button{
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  float: right;
}

#note .input-group #body {
  width: calc(100% - 5px);
  height: calc(100vh - 260px);
  font-family: monospace;
  font-size: 10pt;
  margin: 0;
  padding: 2px;
  overflow: auto;
}

#note .input-group div#body {
  white-space: pre-wrap;
}

#note-list .stickies {
  width: 190px;
  height: 190px;
  float: left;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  margin: 10px;
  box-shadow: 3px 5px 8px #ccc;
}

#note-list .stickies .body {
  width: 190px;
  height: 190px;
  padding: 10px;
  white-space: pre-wrap;
  cursor:default;
}

#note-list .stickies .body .content {
  width: 170px;
  font-size: 10pt;
}

#note-list .stickies h3 {
  margin-top: 0;
  padding-top: 0;
  cursor: default;
}

#note-list button#create {
  margin-bottom: 20px;
  padding: 5px;
}

#note-list .delete-btn {
  float: right;
  margin: 1px 5px;
  font-size: 20px;
  cursor: pointer;
}

#content .material-icons-outlined {
  vertical-align: middle;
  margin-right: 5px;
}

#header #weather {
  position:absolute;
  top:30px;
  right: 16px;
  color: #999;
}

#header #weather img.icon {
  vertical-align: middle;
  filter: drop-shadow(0 1px 12px #09f);
  margin-left: 10px;
}

@media (max-width: 1024px) {
  button, input, #note .input-group #body {
    font-size: 16px;
  }

  #note .input-group #title {
    width: calc(100% - 150px);
  }
  
  #note  .input-group button{
    width: 120px;
  }

  #content {
    margin: 10px 20px;
  }

  #note-list .stickies h3 {
    font-size: medium;
  }

  #note-list .stickies {
    width: 140px;
    height: 140px;
  }

  #note-list .stickies .body {
    width: 140px;
    height: 140px;
  }

  #note-list .stickies .body .content {
    width: 120px;
    font-size: 9pt;
  }

  #note .input-group #body {
    width: calc(100% - 15px);
    height: calc(100vh - 310px);
  }
}