#content {
  margin: 40px 50px;
}

#note .input-group {
  margin-bottom: 20px;
}

#note .input-group #title {
  width: calc(100% - 175px);
}

#note  .input-group button{
  width: 150px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  float: right;
}

#note .input-group #body {
  width: 100%;
  height: calc(100vh - 260px);
}

#note-list .stickies {
  width: 190px;
  height: 190px;
  float: left;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  margin: 10px;
}

#note-list .stickies .body {
  width: 190px;
  height: 190px;
  padding: 10px;
  white-space: pre-wrap;
}

#note-list .stickies h3 {
  margin-top: 0;
  padding-top: 0;
}

#note-list button#create {
  margin-bottom: 20px;
  padding: 5px;
}

#note-list .delete-btn {
  float: right;
  margin: 1px 5px;
  font-size: 20px;
  cursor: pointer;
}

#content .material-icons-outlined {
  vertical-align: middle;
  margin-right: 5px;
}